.icon {
  vertical-align: middle;
  shape-rendering: inherit;
  transform: translate3d(0, 0, 0);
}

.icon___block {
  display: block;
}

.icon___inline {
  display: inline-block;
}

.icon_path {
  stroke: currentColor;
}

.button___small {
  width: 20px;
  height: 20px;
}

.button___medium {
  width: 24px;
  height: 24px;
}
