.icon {
  vertical-align: middle;
  shape-rendering: inherit;
  transform: translate3d(0, 0, 0);
}

.icon___block {
  display: block;
}

.icon___inline {
  display: inline-block;
}

.icon_path {
  fill: currentColor;
}
